body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    display: inline;
    padding: 0;
}

li {
    display: inline;
}

.header {
    box-sizing: border-box;
    background-color: #353839;
    height: 100px;
    padding: 25px;;
    font-size: 25px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Borel', cursive;
}

.header-right {
    margin: 0;
}